<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @channel.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @channel.description %>
</p>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Back', channels_path %>
<body style="background-color:#63536b">
</body>
 <style>
body {
    color: white;
}

h1 {
    color: green;
  font-size: 40px;
  line-height: 18px;
  margin: 33px;
}
</style>