<%= form_for(video_request) do |f| %>
  <% if video_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(video_request.errors.count, "error") %> prohibited this video_request from being saved:</h2>

      <ul>
      <% video_request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :channel_id %>
    <%= f.select :channel_id, current_user.channels.map { |channel| [channel.name, channel.id] } %>
  </div>

  <div class="field">
    <%= f.label :slots %>
    <%= f.number_field :slots %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
