<p id="notice"><%= notice %></p>

<body style="background-color:#63536b">
</body>
<p>
  <strong>Title:</strong>
  <%= @video_request.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @video_request.description %>
</p>

<p>
  <strong>Slots:</strong>
  <%= @video_request.slots %>
</p>

<%= link_to 'Edit', edit_video_request_path(@video_request) %> |
<%= link_to 'Back', video_requests_path %>
 <style>
body {
    color: white;
}

h1 {
    color: green;
  font-size: 40px;
  line-height: 18px;
  margin: 33px;
}
</style>